{% load staticfiles %}
{% load i18n %}<!DOCTYPE HTML>
<!--
Copyright 2015,2016,2017 Steven Stewart-Gallus

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}
><head
><meta charset="UTF-8"
>{% block top %}{% endblock %}<title>{% block title %}{% endblock %}</title
><link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}"
><link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"
></head
><body

><a href="{% url 'front:index'%}">Steven Stewart-Gallus</a
><br
><h1>{% block h1 %}{% endblock %}</h1

><div class="ssg-front-content"
>{% block content %}{% endblock %}</div

><footer>Copyright &copy; 2015, 2016, 2017 Steven Stewart-Gallus</footer
></body
></html>
