{% extends "front/base.html" %}
<!--
Copyright 2015 Steven Stewart-Gallus

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
{% load i18n %}
{% load staticfiles %}

{% block title %}Steven Stewart-Gallus{% endblock %}
{% block h1 %}Software Developer and Contractor{% endblock %}

{% block content %}<div class="tabbox"
        ><input type="radio" name="tabs" value="1" id="1" checked="checked"
        ><label for="1">About Me</label
        ><div class="tab"

        ><img class="header-photo" src="{% static 'front/images/myphoto-2015-12-27.png' %}" alt="A picture of me, Steven Stewart-Gallus"
        ><p>Hello, my name is Steven Stewart-Gallus.</p

        ><p>I am a student at Langara College currently pursuing a
degree in Computer Science and after I graduate I plan to work to make
it easy and practical for computer programmers everywhere to secure
their programs using techniques such as formal methods, toolchain
hardening and testing.</p

        ><p>Ten years from now I hope to have graduated from SFU
        university and to be working on my own startup in computer
        security and free software.</p

        ></div

        ><input type="radio" name="tabs" value="2" id="2"
        ><label for="2">My Work</label
        ><div class="tab"
            ><p>I do contract work in computer security and software development.</p

            ><p>I have most skill in web development but I also have
            abilities in mobile applications.</p

            ><p>For more details about my skills see
            my <a href="https://sstewartgallus.com/resume">resume</a>.</p

            ><p>You can view some of my personal computer programming
            projects <a href="https://sstewartgallus.com/git">here</a>.</p

            ><p>I am particularly proud of the following projects:</p

            ><ul
                ><li><a href="https://sstewartgallus.com/git?p=qlock.git;a=tree">Stack Lock</a></li
                ><li><a href="https://gitlab.com/linted/linted">Linted</a></li
                ><li><a href="https://gitlab.com/sstewartgallus/wum">Wum</a></li
            ></ul
        ></div

        ><input type="radio" name="tabs" value="3" id="3"
        ><label for="3">Learn More</label
        ><div class="tab"
              ><ul
                ><li><a href="https://sstewartgallus.com/resume">My Resume</a></li
                ><li><a href="https://blog.sstewartgallus.com">My Blog</a></li
                ><li><a href="https://ca.linkedin.com/pub/steven-stewart-gallus/72/997/836">My LinkedIn</a></li
                ><li><a href="https://sstewartgallus.com/git">My Git Repositories</a></li
                ><li><a href="https://gitlab.com/sstewartgallus/">My GitLab Account</a></li
                ><li><a href="https://github.com/sstewartgallus/">My GitHub Account</a></li
        ></ul
        ></div
    ></div
>{% endblock %}

