/*
 * Copyright 2015 Steven Stewart-Gallus
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
*/
html {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    background-color: darkslategray;

    color: gainsboro;
    line-height: 1.6;
    font-size: 18px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    padding-left: 0.5em;
    padding-right: 0.5em;
}

:link:active {
    color: red;
}

:visited:active {
    color: red;
}

:link {
    color: powderblue;
}

:visited {
    color: deepskyblue;
}

input[type=radio] {
    background-color: gainsboro;
}

input[type=submit] {
    background-color: darkslategray;
    border-color: gainsboro;
    color: gainsboro;

    border-radius: 0;
    margin: 5px;

    font-weight: bold;
    font-size: 1.1em;
}

h1 {
    display: inline;
}

h2, h3, h4, h5, h6, h7 {
    width: 100%;
    text-decoration: underline;
    text-decoration-color: black;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

section {
    margin: 0;
    padding: 0;
    max-width: 1000px;
}

p {
    min-width: 300px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

footer {
    clear: both;
    width: 100%;
    text-align: center;
}

section.ssg-front-meta {
    clear: both;
}

section.ssg-front-meta section {
    float: left;
    min-width: 25em;

    margin-right: 0.5em;
}

section.ssg-front-meta > section + section {
    margin-left: 0.5em;
}

section.ssg-front-meta > section:last-child {
    margin-right: 0;
}

section.ssg-front-near-you {
    width: 100%;

    clear: both;
    float: left;
}

div.tabbox {
    display: inline-block;
    border-top-right-radius: 1.5em;
    background-color:#6C6C6C;
    max-width: 640px;
}

div.tabbox > input[type="radio"] {
    display: none;
}

div.tabbox > label {
    display: inline-block;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}

div.tab {
    display: none;

    float: right;

    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    clear: both;
    background-color:rgb(34,34,34);
    width:100%
}

input[type="radio"]:checked + label {
   background-color: black;
}

input[type="radio"]:checked + label + div.tab {
   display: block;
}

img.header-photo {
    float: right;
}

aside {
    display: block;
    float: right;
    max-width: 400px;
    background-color:rgb(34,34,34);
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-style: solid;
    border-color: black;
}

div.quote {
    background-color:rgb(34,34,34);
}